.aside-content{
  //position: absolute;
  //left:0px;

  .menu-list{
    background-color: #f5e8f8b0 !important;
    height: 100%;
    
    p{
      padding-left:20px;
      padding-top:20px;
      font-size: 20px;
    }

    .menu-img{
      border:1px solid #000;
      border-radius: 100%;
      margin-right:10px;
      overflow: hidden;
      height: 40px;
      width: 40px;

      img{
        height: 100%;
        width: 100%;
      }
    }

    .menu-subtitle{
      padding-top: 5px;
    }
  }
  
/*
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width:10px
  }
  &::-webkit-scrollbar-track{
    background-color:#f5e8f8;
  }

  &::-webkit-scrollbar-thumb{
    background-color:#cd99da;
    border-radius:5px;
  }
  &::-webkit-scrollbar-thumb:hover{
    background:#a038ba;
  }
  &::-webkit-scrollbar-button:start:decrement, 
  &::-webkit-scrollbar-button:end:increment{ 
    width: 5px;
    height:30px;
    background:#dfbfe5;
  }
  */
}