@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
  overflow: hidden;
}
body, h1, h2, h3, h4, h5, h6, ul, p, hr, th, td, button, img, em{
  margin:0rem;
  padding:0rem;
}
h1, h2, h3, h4, h5, h6{	
  font-size:100%;
  font-weight: 400;
}
ul{
  list-style:none
}
a{
  text-decoration:none
}
a:link, a:visited, a:hover, a:active{
  color:inherit
}
img,button{
  border:0rem
}
hr{
  width:0;
  height:0;
  border:0rem;
  left:-624.9rem;
  position:absolute;
  top:0rem;
}
address, em{
  border-radius:0rem;
  font-style:normal;
}

input[type="submit"]{
  background:none;
  border:0rem;
  cursor:pointer
}
input, select, textarea, button{
  color:inherit;
  font-family:inherit;
  font-size:inherit;
  outline:none;
}
button{
  background:none;
  cursor:pointer
}
table{
  border-collapse:collapse;
  border-spacing:0rem;

  th{
    font-weight: 400;
  }
}

header, nav, section, article, aside, footer{
  display:block
}

.f_l{float:left}
.f_r{float:right}
.p_r{position:relative}
.p_a{position:absolute}
.d_n{display:none;}
.blind{
  width:0.0625rem;
  height:0.0625rem;
  left:-624.9rem;
  line-height:0rem;
  overflow:hidden;
  position:absolute;
  text-indent:-624.9rem;
  top:0rem;
  font-size:0em;
}
.clear:after{
  clear:both;
  content:"";
  display:block;
}
.wrap{
  width:100%;
  margin:0rem auto
}

html{
  font-size: 14px;
}
body{
  font-family: 'TmoneyRoundWindRegular', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  font-size:14px;
  letter-spacing: -0.25px;;
  font-weight: 400;
}

.v-application{
  background-color: #b5b5b5 !important;
  font-family: 'TmoneyRoundWindRegular','Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}
input[type=submit]{
  &.object-login{
    color:#fff;
	background-color:#092052;
	display: block;
	font-size: 0.786em;
	padding:0.75rem 0px;
	width:100%;

	&:hover{
	  filter: brightness(0.9);
	}

	&:active{
	  filter:brightness(0.8);
	}
  }
}
.row{
  margin:0px !important;
}

.mobile-content{
  border:1px solid #b5b5b5;
  height: 736px;
  margin:6% auto;
  position: relative;
  width: 414px;
}
