main{
  //position: absolute;
  //left:256px;
}
.chat-main{
  
  height: 100%;
  //width: calc(100% - 256px);
  
  .chat-content{
    height: 100%;
  }

  .chat-header{
    align-items: center;
    background-color: #f8effa82;
    display: flex;
    font-size: 20px;
    padding:30px 30px;
    width: 100%;

    span{
      border:1px solid #000;
      border-radius: 100%;
      display: inline-block;
      margin-right:10px;
      overflow: hidden;
      height: 35px;
      width: 35px;

      img{
        height: 100%;
        width: 100%;
      }
    }
  }

  .message-area{
    height: calc(95% - 145px);
    overflow-y: auto;

    .user-text{
      text-align: center;
      padding-top:20px;
    }
  }

  .chat-form{
    bottom: 5%;
    position:absolute;
    width:100%;

    input{
      border:1px solid #efdaf4;
      padding:10px;
      margin:0px 20px;
      font-size: 15px;
      width:calc(100% - 40px);
    }

    .form-buttons{
      bottom:5%;
      right:25px;
      margin-bottom: 3px;
      position: absolute;

      button{
        background-color:#efdaf4;
        box-shadow: none;

      }
      
    }
  }

}